ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	background-color: #333333;
}
li{
	display: inline-block;
	margin-right: 20px;
	color:white;
}

li a{
	display: block;
	color: white;
	text-align: center;

}